@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

body{
	padding-top: 1em;
}

.rank-popover-list{
	width: 15em;
}

.panel-footer{
	padding-top: 0;
	padding-bottom: 0;

	.row > *{
		padding: $panel-heading-padding;
	}
}

$toggle-off-color: #aaa;

.role-toggle,
.observable-toggle{
	color: #aaa;

	&.selected{
		color: black;
	}
}

.role-toggle{
	visibility: hidden;

	&.available{
		visibility: visible;
	}

	&.ideal{
		&.fire{
			color: mix($toggle-off-color, orangered);
			&.selected{
				color: orangered;
			}
		}

		&.star{
			color: mix($toggle-off-color, gold);
			&.selected{
				color: gold;
			}
		}
	}
}

.observable-toggle{

	&.heart{
		&.selected{
			color: #a00;
		}
	}

	&.ok{
		&.selected{
			//color: #080;
		}
	}

	&.circle-arrow-up{
		&.selected{
			//color: #00a;
		}
	}
}
