@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/theme";

.setup-table{
	label{
		width: 100%;
	}
}

body{
	padding-top: 1em;
}

.setup-table{
	label a{
		display: block;
	}
}

.summary-table{


	.roles{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			display: inline-block;
			padding-right: 1em;
			margin: 0;
		}
	}

	.glyphicon-heart{
		color: #800;
	}

	td:nth-child(n + 2),
	th:nth-child(n + 2) {
		text-align: center;
	}
}

.rank-popover-list{
	width: 15em;
}

$border-radius-rounded: 5px;

.table-rounded{
	border: 1px solid $table-border-color;
	border-radius: $border-radius-large;
	border-collapse: separate;
	border-spacing: 0px;
}

.panel-footer{
	padding-top: 0;
	padding-bottom: 0;

	.row > *{
		padding: $panel-heading-padding;
	}
}