@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

/*
*{
	box-sizing: border-box;
}


html,body{
	margin: 0;
}
*/

.setup-table{
	label{
		width: 100%;
	}
}

.summary-table{
	.roles{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			display: inline-block;
			padding-right: 1em;
			margin: 0;
		}
	}

	.glyphicon-heart{
		color: #c00;
	}
}

/*
#app{
	background-color :white;
}


body, html{
	background-color: #888;
}
*/